<html lang="en">

<head>
<title>Flask FCM</title>
  <style>
  </style>
</head>
<body>
  <h1>Push Notifications</h1>
 <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-messaging.js"></script>

<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>